header {
    display: flex;
    font-size: 30px;
    background-color: aqua;
}

.logo {
    font-size: 28px;
    background-color: pink;
}

header {
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
}

header .logo h1 {
    font-size: 36px;
    text-align: center;
}